.navbar{
  display: flex;
  justify-content: space-between;

  background-color: #222;

  padding: 1em;
}

.list{
  display: flex;
  align-items: center;
  gap: 1.25em;

  & > .item{
    & > a{
      color: #FFF;

      &:hover{
        color: #FFBB33;
      }
    }
  }
}